<!--table class="table">
  <thead>
    <tr>
        <td>id</td>
        <td>Curso</td>
        <td>Duracao</td>
        <td>Alterar</td>
        <td>Excluir</td>
    </tr>
  </thead>
 <tbody>
  <tr *ngFor="let curso of listaDeCursos">
    <td>{{ curso.id }}</td>
    <td>
      <div class="col-sm-10">
        <input pInputText type="text" value="{{ curso.nome }}" name="nomeInput" #nomeInput>
      </div>
    </td>
    <td>
      <div class="col-10">
          <input type= "text" class ="input" field="nome" value="{{ curso.duracao }}" name = "duracaoInput" #duracaoInput>
      </div>
    </td>
    <td><button type="button" class="btn btn-danger"
      (click)="excluirCurso(curso.id)"> Excluir</button></td>
    <td> <button type="button" class ="btn btn-primary"
      (click)="modificarCursos(curso.id, nomeInput.value, duracaoInput.value)">Alterar</button></td>
  </tr>
  </tbody>
</table>
-->
<p-dataTable [value]="listaDeCursos" [rows]="10" [paginator]="true"
[pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single">
  <p-header>
    Cursos Disponíveis
  </p-header>
<p-column field="id" header="id" ></p-column>
  <!--ng-template let-curso="rowData" pTemplate="body">
        <input pInputText type="text" value="{{curso.id}}" name="nomeInput" >
  </ng-template-->
<p-column field="nome" header="Descrição">
    <!--ng-template let-curso="rowData" pTemplate="body">
        <input pInputText type="text" value="{{curso.nome}}" name="nomeInput" >
    </ng-template-->
</p-column>
<p-column field="duracao" header="Duração" >

    <!--ng-template let-curso="rowData" pTemplate="body">
        <input type= "text" class ="input" field="nome" value="{{ curso.duracao }}" name = "duracaoInput" #duracaoInput>
    </ng-template-->

</p-column>
<p-column styleClass="col-button">
  <ng-template let-curso="rowData" pTemplate="body">
      <button type="button" pButton  icon="fa-trash"
      (click)="excluirCurso(curso.id)"></button>
      <button type="button" pButton icon="fa-edit"></button>
  </ng-template>
</p-column>
</p-dataTable>
