<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>
<form [formGroup]="formCursos">
  <p-dataTable [value]="listaDeCursos" selectionMode="single"
    [(selection)]="cursoSelected" (onRowSelect)="onRowSelect($event)" [rows]="10"
    [paginator]="true" [pageLinks]="3" >
      <p-header>
        Cursos Disponíveis
      </p-header>
      <p-column field="id" header="id" [sortable]="true"></p-column>
      <p-column field="nome" header="Descrição" [sortable]="true"></p-column>
      <p-column field="duracao" header="Duração(Hrs)({{yearFilter||'No Filter'}})"
      [filter]="true" filterMatchMode="equals" [sortable]="true">
        <ng-template pTemplate="filter" let-col>
            <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null,col.field,col.filterMatchMode)"></i>
            <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="10" [max]="100" (onChange)="onYearChange($event, dt, col)"></p-slider>
        </ng-template>
      </p-column>

</p-dataTable>

<p-dialog header="Faça mudanças" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" *ngIf="curso">
  <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="id">id</label></div>
          <div class="ui-grid-col-8">
            <input pInputText id="id" formControlName="id"
            pTooltip="Não pode ser alterado" [(ngModel)]="curso.id" required/>
          </div>
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <label for="nome">Descrição</label>
          </div>
          <div class="ui-grid-col-8">
            <input pInputText type="text" id="nome" formControlName="nome"
            pTooltip="Nome do Curso" [(ngModel)]="curso.nome" />
          </div>
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <label for="duracao">Duracao</label>
          </div>
          <div class="ui-grid-col-8">
            <input pInputText type="number" id="duracao" formControlName="duracao"
             pTooltip="Duração do curso" [(ngModel)]="curso.duracao" />
          </div>
      </div>
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="excluirCurso(curso.id)" label="Delete"></button>
          <button type="button" pButton icon="fa-check" (click)="modificarCurso()" label="Save"></button>
      </div>
  </p-footer>
</p-dialog>
</form>

